<div class= "main">
    <button class="button" (click)="makeSC()" mat-raised-button color="primary" >Generate Contract Link</button>
<!--     <a routerLink="/home/{{contract}}">Your Contract Link!</a>
    <div *ngIf="contract">
    <qrcode [qrdata]="contract" [size]="256" [level]="'M'" ></qrcode>
  </div> -->
</div>


<!-- <ol>
    <li>
      <mat-form-field>
        <input matInput [(ngModel)]="name" placeholder="What's your name?">
      </mat-form-field>
    </li>
    <li>
      <button mat-raised-button (click)="openDialog()">Pick one</button>
    </li>
    <li *ngIf="animal">
      You chose: <i>{{animal}}</i>
    </li>
  </ol> -->
